.todoslist{
    font-size: 11px;
}

.todoslist>h3{
    padding: 20px;
    margin-left: 50px;
}
table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 90%;
}
  
th, td {
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #f2f2f2;
}

.todoList__links{
    text-decoration: none;
    color: #aa754c;
}

.todoList__links:hover{
    text-decoration: underline;
}